html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: url(./assets/image-hero-desktop.webp);
  /* background-color: linear-gradient(180deg, #fff 0%, #f0f1ff 100%); */
  background-repeat: no-repeat;
  background-position: top -190px right -380px;
}

.container {
  padding-left: 165px;
  padding-right: 165px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 87px;
}

.skilled-img {
  display: flex;
  align-items: center;
}

.btn {
  width: 167px;
}

.header-btn {
  /* width: 167px; */
  height: 56px;
  border-radius: 28px;
  background-color: #13183f;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.header-btn:hover {
  background: #666ca3;
  cursor: pointer;
}

/* Introduction */
.introduction {
  display: flex;
}

.intro-header {
  font-size: 56px;
  font-weight: 800;
  line-height: normal;
  color: #13183f;
  width: 457px;
  height: 143px;
  margin-bottom: 29px;
}

.intro-paragraph {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #83869a;
  width: 445px;
  margin-bottom: 40px;
}

.introduction-img {
  display: none;
}

.intro-btn {
  height: 63px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border: none;
  border-radius: 31.5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 250px;
}

.intro-btn:hover {
  background: var(
    --gradient-1-hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  cursor: pointer;
}

/* Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 30px;
  row-gap: 80px;

  position: relative;
}

.courses-container {
  border-radius: 15px;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
}

.checkout-container {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  color: #fff;
}

.checkout-container p {
  width: 286px;
}

.animation,
.design,
.photography,
.crypto,
.business {
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  position: relative;
  /* background-color: yellow; */
}

.design a,
.photography a {
  margin-top: 28px;
}

.courses-logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.courses-header {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  color: #13183f;
}

.courses-descriprion {
  margin: 24px 0 24px;
  color: #83869a;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 286px;
}

.cta:link,
.cta:visited {
  text-decoration: none;
  color: #f74780;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 40px;
}

.cta:hover,
.cta:active {
  color: #ffa7c3;
}

.second-part {
  margin-bottom: 140px;
}

/* Footer */

footer {
  background-color: #13183f;
  height: 120px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-btn {
  height: 56px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  margin-top: 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.footer-btn:hover {
  background: var(
    --gradient-2-hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
  cursor: pointer;
}

.footer-inner .skilled-img {
  display: flex;
  align-items: center;
  transform: translateY(50%);
}
